[run]
source=mesher
omit =
    mesher/__main__.py
    mesher/consts.py
    mesher/exodusII.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
